.admin{
    margin-top: 20px;
    &-content{
        padding:20px;
        &__header{
            .add-vehicle{
                padding:5px 10px;
                background-color: green;
                color: white;
                font-size: 22px;
                border-radius: 12px;
                border: 2px solid greenyellow;
                width: 200px;
                text-align: center;
                cursor: pointer;
            }
            
        }
        &__body{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            .inventory{
                width: calc(50%-10px);
            }
           
        }
    }
    table.vehicle{
        tr{
            th, td{
                padding: 10px 20px;
                text-align: center;
            }
        }
    }
    .transaction{
        margin-top: 100px;
        padding: 20px;
    }
}
